

.navbar .active,
.menu .active {
  font-weight: bold;
  color: #1fc5c8 !important; /* sky-600 */
  text-decoration: underline;
}

/* Optionally, for better transition */
.menu .active {
  transition: color 0.2s, text-decoration 0.2s;
}
.btn-secondary {
  --btn-color: #1fc5c8; /* sky-600 */
  --btn-fg:green;
}